<div class="navbar">
    <div class="logo">
        <a href="/"><img src="img/StayShare.png" alt="Logo"></a>
    </div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/rentals">Rentals</a></li>
        <li><a href="/log-in">Login</a></li>
        <li><a href="/sign-up">Register</a></li>
    </ul>
</div>
