<section class="hero">
    <div class="hero-img" style="background-image: url('../img/hero-img.jpg');">
        <div class="hero-content">
            <h2>Welcome to StayShare!</h2>
            <p>Discover a world of possibilities with StayShare. From cozy cottages nestled in picturesque landscapes to
                modern apartments in the heart of vibrant cities, we have accommodations to suit every traveler's taste
                and budget. Explore new cultures, connect with locals, and make lifelong memories with StayShare.</p>
            <a href="/rentals" class="cta-button">Plan your stay</a>
        </div>
    </div>
</section>

<section class="selling-features">
    <div class="feature">
        <svg xmlns="http://www.w3.org/2000/svg" height="2em"
            viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <style>
                svg {
                    fill: #929292
                }
            </style>
            <path
                d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z" />
        </svg>
        <h2>Discover Unique Stays</h2>
        <p>Explore a diverse range of accommodations from cozy cottages to luxurious apartments, handpicked for
            unforgettable experiences.</p>
    </div>
    <div class="feature">
        <svg xmlns="http://www.w3.org/2000/svg" height="2em"
            viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <style>
                svg {
                    fill: #929292
                }
            </style>
            <path
                d="M560 160A80 80 0 1 0 560 0a80 80 0 1 0 0 160zM55.9 512H381.1h75H578.9c33.8 0 61.1-27.4 61.1-61.1c0-11.2-3.1-22.2-8.9-31.8l-132-216.3C495 196.1 487.8 192 480 192s-15 4.1-19.1 10.7l-48.2 79L286.8 81c-6.6-10.6-18.3-17-30.8-17s-24.1 6.4-30.8 17L8.6 426.4C3 435.3 0 445.6 0 456.1C0 487 25 512 55.9 512z" />
        </svg>
        <h2>Easy Booking</h2>
        <p>Book your stay hassle-free with our user-friendly platform. Secure and flexible payment options available.
        </p>
    </div>
    <div class="feature">
        <svg xmlns="http://www.w3.org/2000/svg" height="2em"
            viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <style>
                svg {
                    fill: #929292
                }
            </style>
            <path
                d="M320.7 352c8.1-89.7 83.5-160 175.3-160c8.9 0 17.6 .7 26.1 1.9L309.5 7c-6-5-14-7-21-7s-15 1-22 8L10 231.5c-7 7-10 15-10 24c0 18 14 32.1 32 32.1h32v69.7c-.1 .9-.1 1.8-.1 2.8V472c0 22.1 17.9 40 40 40h16c1.2 0 2.4-.1 3.6-.2c1.5 .1 3 .2 4.5 .2H160h24c22.1 0 40-17.9 40-40V448 384c0-17.7 14.3-32 32-32h64l.7 0zM640 368a144 144 0 1 0 -288 0 144 144 0 1 0 288 0zm-76.7-43.3c6.2 6.2 6.2 16.4 0 22.6l-72 72c-6.2 6.2-16.4 6.2-22.6 0l-40-40c-6.2-6.2-6.2-16.4 0-22.6s16.4-6.2 22.6 0L480 385.4l60.7-60.7c6.2-6.2 16.4-6.2 22.6 0z" />
        </svg>
        <h2>Host Your Space</h2>
        <p>Become a host and share your unique property with travelers worldwide. Earn extra income and connect with
            guests.</p>
    </div>
</section>

<section class="reviews">
    <h2 class="header">Customer Reviews</h2>
    <blockquote>
        <p>"StayShare exceeded my expectations in every way. The accommodation options were incredible, and I found the
            perfect place for my vacation. The booking process was seamless, and the host was fantastic. I can't wait to
            use StayShare again for my next adventure!"</p>
        <footer>
            <span>★★★★★</span>
            <cite> - Sarah M.</cite>
        </footer>
    </blockquote>

    <blockquote>
        <p>"I had a wonderful experience using StayShare for my recent trip. The variety of stays available was
            impressive, and I found a unique property that suited my needs perfectly. The only reason I'm not giving it
            5 stars is that I encountered a minor issue with the check-in process. However, the StayShare team quickly
            resolved it, and overall, it was a great experience."</p>
        <footer>
            <span>★★★★☆</span>
            <cite> - David R.</cite>
        </footer>
    </blockquote>
</section>
<h2>featured rentals</h2>
<section class="rentals">
        <section class="featured-rentals-home">
            <% rentals.forEach(function(r) { %>
            <%- include('partials/rental', {rental: r}) %>
            <% }); %>
        </section>
</section>
