<div class="valid-container">
    <h1 class="valid-title">Login</h1>
    <form class="valid-form">
        <div class="input-container">
            <label for="email" class="label">Email</label>
            <input type="text" id="email" name="email" class="input" required>
        </div>
        <div class="input-container">
            <label for="password" class="label">Password</label>
            <input type="password" id="password" name="password" class="input" required>
        </div>
        <button type="submit" class="valid-button">Login</button>
    </form>
</div>