<div class="register-container">
    <h1 class="valid-title">Register</h1>
    <p>Create your account</p>
    <form class="valid-form">
        <div class="input-container">
            <label for="firstname" class="label">First Name</label>
            <input type="text" id="firstname" name="firstname" class="input" required>
        </div>
        <div class="input-container">
            <label for="lastname" class="label">Last Name</label>
            <input type="text" id="lastname" name="lastname" class="input" required>
        </div>
        <div class="input-container">
            <label for="email" class="label">Email</label>
            <input type="text" id="email" name="email" class="input" required>
        </div>
        <div class="input-container">
            <label for="password" class="label">Password</label>
            <input type="password" id="password" name="password" class="input" required>
        </div>
        <button type="submit" class="valid-button">Login</button>
    </form>
</div>