<section class="rentals">
    <div class="parent">
        <% rentals.forEach(function(rental) { %>
            <%- include('partials/rental', {rental: rental}) %>
        <% }); %>
    </div>
</section>
