<section class="rentals">
        <% rentals.forEach(function(r) { %>
            <h2><%= r.cityProvince %></h2>
            <section class="featured-rentals">
            <% r.rentals.forEach(function(rental) { %>
                <%- include('partials/rental', {rental: rental}) %>
                <% }); %>
            </section>
        <% }); %>
</section>
