<div class="content">
    <h1>Welcome to StayShare!!</h1>
    <p>We're excited to have you as a member of our community.</p>

    <h2>Getting Started</h2>
    <ul>
        <li>Complete your profile to personalize your experience.</li>
        <li>Explore our features and discover what you can do.</li>
        <li>Connect with other users and start interacting.</li>
    </ul>
</div>