<div class="content-welcome">
    <!-- <h1 class="accent-text">Welcome to StayShare!!</h1>
    <p>We're thrilled to welcome you to the StayShare community!</p> -->

    <h2 class="accent-text sub-heading">Your Journey Begins Here</h2>
    <p>At StayShare, the possibilities are endless. You're about to embark on a journey of discovery, connection, and adventure. Here's how to make the most of your experience:</p>
    <ul class="bulleted-list">
        <li><strong>Complete Your Profile:</strong> Personalize your StayShare experience by filling out your profile. Upload a profile picture, tell us a bit about yourself, and let other members get to know you.</li>
        <li><strong>Explore Our Features:</strong> Dive into a world of features designed to make your stay unforgettable. Search for amazing accommodations, save your favorites, and plan your dream getaway.</li>
        <li><strong>Connect with Others:</strong> StayShare is not just about places; it's about people. Connect with fellow travelers, hosts, and explorers. Share your experiences, exchange travel tips, and create memories together.</li>
    </ul>

    <p>Your adventure begins now. We can't wait to see where StayShare will take you.</p>
</div>