@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&family=Libre+Barcode+128+Text&family=Open+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
    --background-color: #FDFBF6;
    --text-color-primary: #f8f8f2;
    --text-color-secondary: grey;
    --accent-color-primary: #fab05b;
}

html {
    font-size: 62.5%;
    font-family: 'Space Mono', monospace;
}

body {
    font-size: 1.8rem;
    line-height: 1.618;
    max-width: 80em;
    margin: auto;
    color: var(--text-color-secondary);
    background-color: var(--background-color);
    padding: 13px;
}

h1 {
    font-size: 2.35em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

p {
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

small,
sub,
sup {
    font-size: 75%;
}

ul {
    padding-left: 1.4em;
    margin-top: 0px;
    margin-bottom: 2.5rem;

}

li {
    margin-bottom: 0.4em;
}

blockquote {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 1em;
    padding-top: 0.8em;
    padding-bottom: 0.1em;
    padding-right: 0.8em;
    border-left: 5px solid var(--accent-color-primary);
    margin-bottom: 2.5rem;
    background-color: white;
    color: var(--text-color-secondary);
}

input,
textarea {
    border: 1px solid var(--text-color-primary);
}

input:focus,
textarea:focus {
    border: 1px solid var(--accent-color-primary);
}

textarea {
    width: 100%;
}

.logo img {
    height: 70px;
    width: auto;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 40px;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color-secondary);
    font-weight: bold;
}

.nav-links a:hover {
    color: var(--accent-color-primary);
    opacity: 90%;
}

.navbar {
    background-color: var(--background-color);
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    margin: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.hero {
    margin-top: 3%;
    margin-bottom: 1%;
}

.hero-img {
    background-size: cover;
    background-position: center;
    height: 70%;
}

.hero-content {
    text-align: center;
    padding: 2rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    height: 70%;
}

.cta-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: var(--accent-color-primary);
    opacity: 70%;
    color: #fff;
    text-decoration: none;
    font-family: Jetbrains Mono;
    border-radius: 5px;
    transition: opacity 0.3s;
}

.cta-button:hover {
    background-color: var(--accent-color-primary);
    opacity: 100%;
}

.how-it-works {
    color: var(--text-color-secondary);
    align-content: center;
}

.selling-features {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive three columns */
    grid-gap: 20px;
    max-width: 800px; 
    margin: 0 auto;
    justify-items: center;
}

.feature {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.feature:hover {
    transform: translateY(-5px);
}

.feature img {
    max-width: 100%;
    border-radius: 8px;
}

.feature h2 {
    color: var(--accent-color-primary);
    margin-top: 10px;
}

.feature p {
    color: var(--text-color-secondary);
    font-size: 16px;
    margin-top: 10px;
}

.site-footer {
    background-color: var(--background-color);
    color: var(--text-color-secondary);
    padding: 20px;
    text-align: center;
}

.footer-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-menu ul li {
    display: inline;
    margin-right: 20px;
}

.footer-menu a {
    text-decoration: none;
    color: var(--text-color-secondary);
}

.social-media .social-icon {
    color: var(--accent-color-primary);
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}

.copyright {
    font-size: 14px;
    margin-top: 20px;
}

.copyright a {
    color: var(--accent-color-primary);
    text-decoration: none;
}

.rentals h2 {
    text-align: center;
    color: darkgray;
}

.featured-rentals {
    display: grid;
    grid-gap: 70px;
    max-width: 600px; 
    margin: 0 auto; 
    justify-items: center; 
}

.featured-rentals-home {
    display: grid;
    grid-gap: 70px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin: 0 auto; 
    justify-items: center; 
}

.property {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    border-color: white;
    transition: transform 0.2s;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    margin-right: 20px;
}

.property:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.property img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.property h3 {
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.property-details {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.property-card p {
    color: #777;
}

.property-card strong {
    color: #333;
}

.price-per-night {
    margin-top: 15px;
    font-weight: bold;
    color: black;
}

.slideshow {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    position: relative;
}

.slideshow img {
    width: 100%;
    height: auto;
}

.social-icon svg:hover {
    transform: translateY(-5px);
    color: var(--text-color-secondary);
}

.construction {
    color: var(--text-color-secondary);
    margin-bottom: 30%;
}

.header {
    color: black;
}

.bottom-nav a {
    text-decoration: none;
    color: var(--text-color-secondary);
    font-weight: bold;
}

.bottom-nav a:hover {
    color: var(--accent-color-primary);
    opacity: 90%;
}

@media (min-width: 1000px) {
    .featured-rentals {
        grid-template-columns: repeat(2, 1fr); 
    }
}

.valid-container {
    background: white;
    border: 1px solid white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    min-width: 40%;
    max-width: 500px;
    text-align: center;
    margin: 10% auto;
    margin-bottom: 2%;
}

.valid-title {
    margin: 0 0 20px;
    font-size: 24px;
    color: var(--text-color-secondary);
}

.valid-form {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 10px;
    width: 90%;
}

.label {
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--text-color-secondary);
}

.input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.valid-button {
    padding: 10px 20px;
    width: 50%;
    background-color: var(--accent-color-primary);
    opacity: 50%;
    color: var(--text-color-primary);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.3s;
    margin: 5% auto;
}

.valid-button:hover {
    background-color: var(--accent-color-primary);
    opacity: 100%;
}

.register-container {
    background: white;
    border: 1px solid white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    min-width: 40%;
    max-width: 500px;
    text-align: center;
    margin: 2% auto;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: var(--text-color-secondary);
    margin: 3px 0;
}



@media (max-width: 768px) {
    .burger {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background: var(--accent-color-primary);
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        text-align: center;
        border-radius: 8px;
    }
    .nav-links a {
        text-decoration: none;
        color: white;
        opacity: 60%;
        font-weight: bold;
    }
    
    .nav-links a:hover {
        color: white;
    }

    .nav-links.active {
        display: flex;
    }

}

.orange-bar {
    background-color: var(--accent-color-primary);
}

