<section class="list-section">
    <h1 class="header">Data Clerk List</h1>
    <hr>
    <p>Welcome to the list page <%=user.firstname%> <%=user.lastname%></p>
    <a href="../load-data/rentals">Add Sample Rental Data</a>
</section>

<section class="rentals-list">
    <% rentals.forEach(function(rental) { %>
        <section class="featured-rentals-list">
            <%- include('../partials/rental', {rental: rental}) %>
            <div class="CRUD-operations">
                <button class="crud-button">update</button>
                <button class="crud-button">delete</button>
            </div>
        </section>
    <%});%>
</section>
<div class="add-listing">
    <button class="crud-button" id="add-button">Add Listing</button>
</div>


<script>
    document.getElementById('add-button').addEventListener('click', function() {
      window.location.href = '/rentals/add';
    });
  </script>