<section class="list-section">
    <h1 class="header">Remove Rental</h1>
    <hr>
    <p>Are you sure you want to remove the following rental <%=user.firstname%> <%=user.lastname%>?</p>
    <%- include('../partials/rental', {rental: rental}) %>
    <form action="/rentals/remove/<%= rental._id %>" method="post">
        <button type="submit">Confirm Removal</button>
    </form>
</section>